.container {
  text-align: center;
  margin-top: 50px;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin: 50px 0;
}

.meal-image {
  width: 100%;
}

.meal-CAT {
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.meal-CAT-item {
  font-weight: 800;
}

.meal-ingredients {
  text-align: left;
  list-style-type: circle;
  padding-left: 15px;
}

.food-info {
  text-align: left;
}

.video-recipe-title {
  text-align: left;
}
.video-recipe-clip {
  width: 100%;
  justify-content: left;
}
